
<h1 style="color:red"> We encountered an error with your email, please check that the details are correct and try again.</h1><br />

<ul>
<li>Email must contain the AT symbol!</li>
</ul><br />
<p>Redirecting . . . in 5... 4...</p>

    <meta http-equiv="Refresh" content="5; url=/Home/Register" />

