
<h1 style="color:red"> We encountered an error with your password, please check that the details are correct and try again.</h1><br />

<ul>
<li>Make sure it's at least 8 characters long</li>
<li>1 Special Character</li>
<li>1 Capital Letter</li>
</ul><br />
<p>Redirecting . . . in 5... 4...</p>

    <meta http-equiv="Refresh" content="5; url=/Home/Register" />

